label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 17px;
    color: #fff;
    padding: 2px;
    font-weight: 200;
}
input:disabled {
    cursor: not-allowed;
    background-color: rgb(99 92 92 / 30%);
    border-color: rgba(118, 118, 118, 0.3);
}
.form-buttons {
    text-align: center;
    margin-top: 12px;
}
.form-input-div{
    margin-bottom: 21px;
}
meter{
    width: 100%;
}
.form-control{
    display: block;
    width: 96%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom:21px ;
}
.form-control:focus-within{
    border-color: skyblue;
}
.select-input{
    font-size: 17px;
    height: 37px;
    width: 100%;
}
.button-control{
    display: inline-block;
    /* width: 10%;
    height: 36px; */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    background-color: #29afd6;
    border: 2px solid #131212;
    border-radius: 4px;
    color: white;
    margin-bottom: 12px;
}
.modal .button-control{
    width: 17%;
}

.form-control:focus,.form-control:focus-visible,.form-control:focus-within {
    border-color: #29afd6;
}
.form-control:invalid{
    /* border: red;
    color:red; */
    border-color: red;
}
.form-control :valid{
    border-color: #29afd6;
}
@media(max-width:900px){
    .button-control{
        width: 38%;
    }
    .form-control{
        width: 90%;
    }
    .select-input{
        width: 99%;
    }
}