label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /* font-weight: bold; */
    font-family: monospace;
    font-size: 17px;
}

.form-input-div{
    margin-bottom: 12px;
}
meter{
    width: 100%;
}
.form-control{
    display: block;
    width: 96%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom:12px ;
}
.form-control:focus-within{
    border-color: skyblue;
}
.select-input{
    font-size: 17px;
    height: 37px;
    width: 100%;
}
.button-control{
    display: inline-block;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.5;
    cursor: pointer;
    background-color: #29afd6;
    border: 2px solid #131212;
    border-radius: 4px;
    color: white;
    margin-bottom: 12px;
}
.modal .button-control{
    width: 17%;
}
.negative {
    background-color: #d62323e8;
}
a{
    text-decoration: none;
}
.form-control:focus,.form-control:focus-visible,.form-control:focus-within {
    border-color: #29afd6;
}
.form-control:invalid{
    /* border: red;
    color:red; */
    border-color: red;
}
.form-control :valid{
    border-color: #29afd6;
}
.card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px groove #ddd;
    padding: 30px;
    box-shadow: -2px 4px 15px black;
    border-radius: 60px;
    background-color: white;
}
.signup{
    margin-top: 5%;
}
span{
    text-align: center;
    width: 100%;
    font-size: 18px;    
}
body{
    background: #033683;
    background: -webkit-linear-gradient(to left, #033683, #1e90ff,#2b6ba9);
    background: linear-gradient(to left, #033683, #1e90ff,#2b6ba9);
}
.msg{
    text-align: center;
    color: red;
    font-size: 21px;
}
.form-buttons{
    text-align: center;
}
.link{
    color:blue;
}
@media(max-width:900px){
    .button-control{
        width: 38%;
    }
    .form-control{
        width: 90%;
    }
    .select-input{
        width: 99%;
    }
}
