<!DOCTYPE html>
<html lang="en">
    <head>
	    <title>Library</title>
	    <meta charset="utf-8">
	    <meta name="author" content="periyandavar">
	    <meta name="discription" content="library Mangement system">
	    <meta name="keywords" content="Library, LMS">
	    <meta name="viewport" content="width=device-width,initial-scale=1.0">
 	    <link rel="icon" type="image/png" href="../static/img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="../static/css/form.css">
        <link rel="stylesheet" type="text/css" href="../static/css/core.css">
        <link rel="stylesheet" type="text/css" href="../static/css/user.css">
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body> 
    	<header>
            <img src="../static/img/lms-logo.jpg">
		    <a href="javascript:dropDownMenuClick('user-drop-down');" class="shortMenu">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <div class="drop-down" id="user-drop-down">
                <ul>
                    <li><a href="../user/profile">Profile</a></li>
                    <li><a href="../user/logout">Logout</a></li>
                </ul>
            </div>
            <a href="javascript:dropDownMenuClick('nav-drop-down');" class="mobNav" >
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
            <div class="drop-down" id="nav-drop-down">
                <ul>
                    <li><a href="../user/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li><a href="../user/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a></li>
                    <li><a href="../categories/index"><i class="fa fa-list-alt" aria-hidden="true"></i> Categories</a></li>
                    <li><a href="../authors/index"><i class="fa fa-user-o" aria-hidden="true"></i> Authors</a></li>
                    <li><a href="../books/index"><i class="fa fa-book" aria-hidden="true"></i> Books</a></li>
                    <li><a href="../issuedbooks/index"><i class="fa fa-address-book" aria-hidden="true"></i> Issue Books</a></li>
                    <li><a href="../users/index"><i class="fa fa-users" aria-hidden="true"></i> Reg. Users</a></li>
                    <li><a href="../adminSettings/index"><i class="fa fa-cog" aria-hidden="true"></i> Settings </a></li>
                    <!-- <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li> -->
                </ul>
            </div>
            <a style="margin-right: 0;" id="searchButton" href="javascript:dropDownMenuClick('searchBar');">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <div class="searchBar" id="searchBar">
                <input type="text"  name="search" placeholder="Search...">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                 </button>
            </div>    
	    </header>
        <nav>
            <ul>
                <li id="home"><a href="../user/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li id="profile"><a href="../user/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a></li>
                <li id="categories" class="drop-down-btn"><a><i class="fa fa-list-alt" aria-hidden="true"></i> Categories</a><i class="fa fa-caret-down down-arrow" aria-hidden="true"></i>
                    <div class="drop-down-container">
                        <ul>
                            <li><a href="../categories/add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></li>
                            <li><a href="../categories/manage"><i class="fa fa-pencil-square" aria-hidden="true"></i> Manage</a></li>
                        </ul>
                    </div>
                </li>
                <li id="authors" class="drop-down-btn"><a><i class="fa fa-user-o" aria-hidden="true"></i> Authors</a><i class="fa fa-caret-down down-arrow" aria-hidden="true"></i>
                    <div class="drop-down-container">
                        <ul>
                            <li><a href="../authors/add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></li>
                            <li><a href="../authors/manage"><i class="fa fa-pencil-square" aria-hidden="true"></i> Manage</a></li>
                        </ul>
                    </div>
                </li>
                <li id="books" class="drop-down-btn"><a><i class="fa fa-book" aria-hidden="true"></i> Books</a><i class="fa fa-caret-down down-arrow" aria-hidden="true"></i>
                    <div class="drop-down-container">
                        <ul>
                            <li><a href="../books/add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></li>
                            <li><a href="../books/manage"><i class="fa fa-pencil-square" aria-hidden="true"></i> Manage</a></li>
                        </ul>
                    </div>
                </li>
                <li id="issued" class="drop-down-btn"><a><i class="fa fa-address-book" aria-hidden="true"></i> Issued Books</a><i class="fa fa-caret-down down-arrow" aria-hidden="true"></i>
                    <div class="drop-down-container">
                        <ul>
                            <li><a href="../issuedbooks/add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></li>
                            <li><a href="../issuedbooks/manage"><i class="fa fa-pencil-square" aria-hidden="true"></i> Manage</a></li>
                        </ul>
                    </div>
                </li>
                <li id="users" class="drop-down-btn"><a><i class="fa fa-users" aria-hidden="true"></i> Reg. Users</a><i class="fa fa-caret-down down-arrow" aria-hidden="true"></i>
                    <div class="drop-down-container">
                        <ul>
                            <li><a href="../users/add"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></li>
                            <li><a href="../users/manage"><i class="fa fa-pencil-square" aria-hidden="true"></i> Manage</a></li>
                        </ul>
                    </div>
                </li>
                <li id="settings"><a href="../adminSettings/index"><i class="fa fa-cog" aria-hidden="true"></i> Settings </a></li>
                <li><a href="../user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </nav>
        <article class="main">
