<!-- footer starts -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="cols col-3">
                <div class="text-container">
                    <h4>About us</h4>
                    <p class="indent-para">Libraries are engaged in learning and discovery as essential participants in the educational community. We develop, organize, provide access to and preserve materials to meet the needs of present and future generations of students
                        and scholars.</p>
                </div>
            </div>
            <div class="cols col-3">
                <div class="text-container">
                    <h4>Contact us</h4>
                    <p><i class="fa fa-map-marker symbols" aria-hidden="true"></i>&nbsp;&nbsp;National Highway, Brgy. 2 Poblacion E.B. Magalona., Negros Occidental<br>
                        <i class="fa fa-phone symbols" aria-hidden="true"></i>&nbsp;&nbsp;(034) 433-2281 / 435-0535<br>
                        <i class="fa fa-envelope-o symbols" aria-hidden="true"></i>&nbsp;&nbsp;jan@lms.com<br>
                    </p>
                </div>
            </div>
            <div class="cols col-1">
                <div class="text-container">
                    <h4>Follow us</h4>
                    <ul class="unstyle-list">
                        <li>
                            <a><i class="fa fa-facebook-square symbols" aria-hidden="true"></i>&nbsp;&nbsp;Facebook</a>
                        </li>
                        <li>
                            <a><i class="fa fa-instagram symbols" aria-hidden="true"></i>&nbsp;&nbsp;Instagram</a>
                        </li>
                        <li>
                            <a><i class="fa fa-youtube-play symbols" aria-hidden="true"></i>&nbsp;&nbsp;Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container align-container-center">
        <div class="row">
            <div class="cols col-9">
                <p>Copyright © 2020 LMS</p>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->
<!-- loading scripts -->
<script src="/static/js/core.js"></script>
<script src="/static/js/scriptHome.js"></script>
</body>

</html>